<!--[main]-->
    <style>
    #dia
    {
      border: 1px solid black;
      padding: 5px;
    }
    
    #cab
    {
      border: 1px solid black;
      background-color: #367fa9;
      color: white;
      padding: 5px;  
    }
    
    #spnCons
    {
        width: 20%;
    }
    
    </style>
        <div id="cab">
        <span style="vertical-align: top; width: 20%; text-align: center;" >DATA</span>
        <span style="display : inline-block ; vertical-align: top; width: 40%; text-align: center; ">MANHÃ</span>
        <span style="display : inline-block ; vertical-align: top; width: 40%; text-align: center; " >TARDE</span>
    </div>
   
    <!--[data]-->
    <div id="dia">
        <span style="vertical-align: top; width: 20%; text-align: center;" >{$data}</span>
        <span style="display : inline-block ; vertical-align: top; width: 40%; text-align: center; ">{$consultaManha}</span>
        <span style="display : inline-block ; vertical-align: top; width: 40%; text-align: center; " >{$consultaTarde}</span>
    </div>
   
    <!--[/data]-->
  
    <!--<div id="cab">
        <span>
            <a style="color: white;" href="">Mês Anterior</a>
        </span>
        <span>
            <a style="color: white; float: right;" href="">Mês Posterior</a>
        </span>
    </div>-->
  
<!--[/main]-->
