<!--[main]-->               
        <div style="text-align: left; margin-left:100px;"><a style="color: black" href="index.php?class=ConsultaForm&method=onEdit&key={$id}"> 
            <div>Consulta: {$id}</div>
            <div>Paciente: {$paciente}</div>
            <div>Estado: {$estado}</div>
             <div>Médico: {$medico} </div>
              <br>
        </a></div>     
<!--[/main]-->
