<!--[main]-->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope fa-fw"></i>  <i>Mensagens</i>
            <span class="badge" style="background: red;">{$count}</span>
       </a>
     <ul class="dropdown-menu dropdown-messages"> 
     

</button>    
  <!--[mensagem]-->   
 
        <li>
           <a href="index.php?class=ConcluirAvisosForm&method=onEdit&key={$id}">
                <div>
                    <strong>{$nome}</strong>
                        <span class="pull-right text-muted">
                    <em>{$data}</em>
                    </span>
                </div>
                <div>{$mensagem}</div>
           </a>
       </li>              
       <!--[/mensagem]-->  
       <li class="divider"></li>
       <li>
           <a href="index.php?class=AvisosList">
                <div>Visualizar todas mensagens</div>
           </a>
       </li>
</ul>
       <li class="divider"></li>   

<!--[/main]-->
                    